.input-class[data-v-a5cfa359]{--tw-border-opacity:1;border-color:#e5e7eb;border-color:rgb(229 231 235/var(--tw-border-opacity));border-radius:.25rem;border-width:1px;padding:.25rem .75rem;width:100%}
