.shiny-pop.animation {
  @apply pb-3;
  background-size: 300% 100%;
  background-image: linear-gradient(
    80deg,
    #cb9b51 0%,
    #be8f12 25%,
    #f3ea6c 30%,
    #be8f12 35%,
    #cb9b51 78%,
  );
  color: transparent;
  background-clip: text;
  animation: pop forwards 3s, diagonal forwards 10s 400ms infinite;
}

@keyframes pop {
  0% {
    transform: scale(1.05);
  }
  10%{
    transform: scale(1);
  }
}
@keyframes diagonal {
  0% {
    background-position: 0% 100%
  }
  20% {
    background-position: 100% 100%
  }
  100% {
    background-position: 100% 100%
  }
}

@keyframes fade {
  0% {
    opacity: 0.1;
    transform: scale(0);
  }
  90% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0.1;
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes beacon {
  from {
    @apply bg-neonYellow;
    padding: 0;
    border-radius: 6px;
    opacity: 0.8;
  }
  to {
    background: transparent;
    margin: -20px;
    border-radius: 16px;
    opacity: 0;
  }
}
.beacon:after {
  content: "";
  @apply rounded-sm absolute left-0 top-0 bottom-0 right-0 -z-10;
  animation-name: beacon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes lightBeacon {
  from {
    background: white;
    padding: 0;
    border-radius: 6px;
    opacity: 1;
  }
  to {
    background: transparent;
    margin: -20px;
    border-radius: 16px;
    opacity: 0;
  }
}
.lightBeacon:after {
  content: "";
  @apply rounded-sm absolute left-0 top-0 bottom-0 right-0 -z-10;
  animation-name: lightBeacon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes floating {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 20px);
  }
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.pulse {
  animation-name: pulse;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.slow-pulse {
  animation-name: pulse;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes donut1 {
  0% {
    opacity: 0;
    stroke-dasharray: 0 94.2;
  }
  10% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    stroke-dasharray: 94.2 0;
  }
}


.scroll {
  animation-name: scroll;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: forward;
}
@keyframes scroll {
  0% {
    opacity:0;
    transform: translate(0,-100%);
  }
  20% {
    opacity:1;
    transform: translate(0,-80%);
  }
  80% {
    opacity:1;
    transform: translate(0,80%);
  }
  100% {
    opacity:0;
    transform: translate(0,100%);
  }
}
