@font-face {
  font-family: 'Heading';
  src: url('~/assets/fonts/subset-heading-Italic.eot');
  src: url('~/assets/fonts/subset-heading-Italic.eot?#iefix') format('embedded-opentype'),
      url('~/assets/fonts/subset-heading-Italic.woff2') format('woff2'),
      url('~/assets/fonts/subset-heading-Italic.woff') format('woff'),
      url('~/assets/fonts/subset-heading-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}