@font-face {
  font-family: 'Playfair Display';
  src: url('~/assets/fonts/subset-PlayfairDisplay-Regular.eot');
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'),
      url('~/assets/fonts/subset-PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('~/assets/fonts/subset-PlayfairDisplay-Regular.woff2') format('woff2'),
      url('~/assets/fonts/subset-PlayfairDisplay-Regular.woff') format('woff'),
      url('~/assets/fonts/subset-PlayfairDisplay-Regular.ttf') format('truetype'),
      url('~/assets/fonts/subset-PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
    src: url('~/assets/fonts/subset-Nunito-Regular.eot');
    src: local('Nunito Regular'), local('Nunito-Regular'),
        url('~/assets/fonts/subset-Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/subset-Nunito-Regular.woff2') format('woff2'),
        url('~/assets/fonts/subset-Nunito-Regular.woff') format('woff'),
        url('~/assets/fonts/subset-Nunito-Regular.ttf') format('truetype'),
        url('~/assets/fonts/subset-Nunito-Regular.svg#Nunito-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
