@import 'animations';
@import 'fonts';

body,
html,
#__nuxt,
#__layout {
  // @apply font-body;
  color: theme("colors.black");
  box-sizing: border-box;
  @apply h-full w-full overflow-x-hidden font-body;
}

// *{ box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.1); }

ul{
  @apply ml-4;
  li{
    @apply list-disc;
  }
}

.max-container{
  max-width: 1200px;
  @apply w-full px-10 my-0 mx-auto block;

  @media screen and (min-width: theme('screens.md')){
  }
  @media screen and (min-width: theme('screens.lg')){
  }
}

.outer-container{
  @apply w-full px-8;
}

.nuxt-icon svg{
  margin-bottom: 0 !important;
}